# macOS
.DS_Store

# Gradle / build outputs
.gradle/
build/
*/build/

# CMake / NDK build cache
.cxx/

# Android local config
local.properties

# IntelliJ / Android Studio
.idea/

# Keystores (keep them private)
*.jks

# Misc
*.iml

#libs
*/jniLibs/
Common/src/main/jniLibs/
Common/src/libre3/jniLibs/
BTautoconnect.patch
Common/src/mobileSi/jniLibs/
*/mobileLibre*
